#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

/* Heading Styling */
h1, h2, h3, h4 {
    background-color: #4F3674; 
    color: #FFFFFF; 
    border: 1px solid #D6A800; 
    padding: 10px;
}

/* Anchor Tag Styling */
a {
    color: #8A2BE2; 
    text-decoration: none;
}

a:hover {
    color: #6A0DAD; 
}

a:visited {
    color: #551A8B;
}
